@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@font-face {
	font-family: 'noto-sans';
	src: url('fonts/noto-sans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto-sans';
	src: url('fonts/noto-sans-semibold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'libre-baskerville';
	src: url('fonts/libre-baskerville-regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

:root {
	font-size: 15px;
}

body {
	font-family: "noto-sans", Helvetica, Arial, sans-serif !important;
	line-height: 1.5 !important;
	font-size: 1rem !important;
}

/**
 * 
 * Loading Overlay
 * 
 */
#body-loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: #f5f4f4;
	z-index: 9999;
	transition: opacity 0.5s ease-in-out 0.1s, height 0s linear 0.6s;
}

#body-loading-overlay:after {
	position: absolute;
	content: "";
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="m25 48c13 0 23-10 23-23" fill="none" stroke="%23cac6c9" stroke-width="4"/></svg>');
	animation-name: spin;
	animation-duration: 750ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

#body-loading-overlay.complete {
	opacity: 0;
	height: 0;
}


#catalog-container .profile_pic {
	background-color: transparent !important;
}


/**
 * 
 * Glyphs
 * 
 */
.glyph-no-text {
	text-indent: -9999px;
	width: 1rem;
	height: 1rem;
	line-height: 1rem !important;
	display: inline-block;
	position: relative;
}

.glyph-no-text:before {
	position: absolute;
	text-indent: 0;
	top: 0;
	left: 0;
}

.btn[class^="g24-"]:before,
.btn[class*=" g24-"]:before {
	text-indent: 0px;
	font-family: "glyph24";
	font-size: 1.2rem;
	vertical-align: middle;
	margin-right: 0.5em;
	position: relative;
	top: 0.12ex;
}

.btn[class^="g24-"].glyph-no-text:before,
.btn[class*=" g24-"].glyph-no-text:before {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	position: absolute;
	text-indent: 0px;
	text-align: center;
	font-family: "glyph24";
	font-size: 1rem;
}


/**
 * 
 * Header
 * 
 */
#yec-header {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

header > nav:not(#header-nav-secondary) > .container {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

header .profile-name {
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	background-size: cover;
	background-origin: border-box;
	display: inline-block;
	border: solid 1px rgba(0,0,0,.2);
	border-radius: 20px;
	box-shadow: 0 0 0 0 rgba(216,217,219,0);
	transition: box-shadow 0.2s;
}

header .profile-name:focus {
	box-shadow: 0 0 0 .2rem rgba(216,217,219,.5);
}

header #header-nav-primary .navbar-nav-nocollapse > * + li {
	margin-left: 1rem;
}



/**
 * 
 * Header Social Links
 * 
 */
#header-nav-social {
	order: -1;
	background-color: #004c97;
	background-clip: border-box;
	border: none;
	border-bottom: solid 1px rgba(0,0,0, 0.2);
	color: #FFF;
}

#header-nav-social ul {
	padding: 0;
	margin: 0;
}

#header-nav-social a {
	line-height: 1rem !important;
}


/**
 * 
 * Primary Nav
 * 
 */
#header-logo {
	background-image: url(media/yorkville-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 42px;
	text-indent: -9999px;
	display: inline-block;
	margin: 0px;
}



/**
 * 
 * Secondary Nav
 * 
 */
#header-nav-secondary .breadcrumb {
	font-size: 0.8rem;
}

#header-nav-secondary .breadcrumb ::before {
	font-size: 0.8rem;
	width: 1.2rem;
	height: 0.8rem;
	text-decoration: none !important;
}

#header-nav-secondary .breadcrumb ::before {
	font-size: 0.8rem;
	width: 1.2rem;
	height: 0.8rem;
	text-decoration: none !important;
}

.breadcrumb-item + .breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #6c757d;
	content: ">";
	font-family: "glyph24";
}

.breadcrumb-item .g24-home::before {
	margin-right: 0.5em;
}

:not(#header-hero) + #header-nav-secondary {
	padding-top: 0 !important;
}

/**
 * 
 * Bootstrap Extended Classes
 * 
 */
.text-shadow-rgba {
	text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.border-rgba, .btn-primary, .btn-red {
	background-clip: border-box !important;
	border-color: rgba(0,0,0, 0.2) !important;
}

.navbar-nav-nocollapse {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav {
	align-items: center
}

.btn {
	border-radius: 0;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
}

.btn-primary {
	background-color: #0066ca;
	color: #FFF;
}

.btn-red {
	background-color: #ac0808;
	color: #FFF;
}

/**
 * 
 * Nav Overrides
 * 
 */

#sticky_head nav.action-bar {
	background-color: #fafafa;
	border-bottom: solid 1px rgba(0,0,0,.2) !important;
	box-shadow: none !important;
	height: auto !important;
}

#sticky_head > #page-tabs {
	padding: 0 !important;
}

#sticky_head .page-tabs {
	min-height: 0 !important;
	line-height: auto !important;
}

#sticky_head .page-tabs::before,
#sticky_head .page-tabs::after {
	display: none !important;
}

#sticky_head .page-tabs .nav-link {
	padding: 0 !important;
	margin: 0 !important;
	display: flex !important;
}

#sticky_head .page-tabs .nav-link a {
	float: none !important; /* Why the floats? Why? */
	padding: 0.5rem 0rem !important;
	margin: 0 !important;
	line-height: 1.5 !important;
	color: #0066ca !important;
	background-color: transparent !important;
}

#sticky_head .page-tabs .nav-link a + a {
	margin-left: 2rem !important;
}

#sticky_head .page-tabs .nav-link a:hover {
	text-decoration: underline;
	background-color: transparent !important;
}

#sticky_head .page-tabs .nav-link a.active {
	background-color: rgba(0,0,0,.05) !important;
	color: #222 !important;
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}

#sticky_head .page-tabs .nav-link a.active:hover {
	text-decoration: none;
}

/**
 * 
 * Fresh Overrides
 * 
 */
.c-wrapper, .action-bar-wrapper, .page-layout {
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.page-layout .c-wrapper {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#request_item_page .sidebar .request-for,
#request_item_page .sidebar #show_request_for {
	display: none;
}



@media (min-width: 576px) {
  .c-wrapper, .action-bar-wrapper, .page-layout {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .c-wrapper, .action-bar-wrapper, .page-layout {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .c-wrapper, .action-bar-wrapper, .page-layout {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .c-wrapper, .action-bar-wrapper, .page-layout {
    max-width: 1140px !important;
  }
}

.dropdown-toggle .caret {
	display: none !important;
}

.attach-wrapper .span7 {
	display: block;
	width: auto;
	float: none;
}

.attach-wrapper .item {
	display: flex;
	align-items: stretch;
	width: auto;
	margin-top: 0.5rem;
	
}

.attach-wrapper .item > * {
	border: solid 1px rgba(0,0,0,.1);
	background-color: #FAFAFA;
	padding: 0.5rem;
}

.attach-wrapper .item > * + * {
	border-left: none;
}


.attach-wrapper .item .ellipsis {
	flex-grow: 1;
}

.attach-wrapper .item .close {
	color: #FFF !important;
	background-color: #ac0808;
}

.attach-wrapper .item .close:hover {
	color: #FFF !important;
	background-color: #d71919;
}

.sidebar.pull-left {
	float: none !important;
}

/*
 * Eeeeuuuuugh. 
 */
.is_stuck {
	position: static !important;
	top: auto !important;
	left: auto !important;
}

/*
 * Eeeeuuuuuuuuuuugh. 
 */
.is_stuck + * {
	display: none !important;
}

/**
 * 
 * Theme Colours
 * NOTE: Break apart later?
 * 
 */
.bg-primary {
	background-color: #004c97 !important;
	color: #FFF;
}

.navbar-dark a {
	color: #f5f4f4;
}

.navbar-dark a:hover {
	color: #fff;
}


.img-details {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}


.readmore-js-section {
	border: solid 1px rgba(0,0,0,.1);
	background-color: #FAFAFA;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	background-clip: border-box;
	padding: 0.5rem 1rem;
}

.readmore-js-toggle {
	border: solid 1px rgba(0,0,0,.1);
	background-color: #F6F6F6;
	border-top: none;
	display: block;
	width: 100%;
	padding: 0.5rem 1rem;
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
}

.alert {
	background-color: #e2f2fe;
	border-radius: 0;
	color: #023962;
	margin-top: 0.5rem;
	padding: 0.5rem;
}


#hc-search-form, 
#catalog-container .search-div {
	padding: 2rem 10%;
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#hc-search-form > * {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#hc-search-form .hc-search-input,
#catalog-container .search-div input {
	flex-grow: 1;
}

#hc-search-form input,
#hc-search-form button {
	width: 100%;
}

#hc-search-form input,
#hc-search-form button,
#catalog-container .search-div input,
#catalog-container .search-div button {
	border-radius: 0;
	background-color: #f8f9fa !important;
	background-clip: border-box !important;
	border: solid 1px rgba(0,0,0, 0.2) !important;
	color: #000 !important;
	box-shadow: none !important;
}

#hc-search-form button,
#catalog-container .search-div button {
	padding-left: 1rem;
	padding-right: 1rem;
}

#hc-search-form input,
#catalog-container .search-div input {
	border-right: none !important;
}

#catalog-container .search-div .icon-search {
	display: none;
}


.ficon-notifications:before {
  content: "\e91b";
  font-size: 2rem;
  font-family: "glyph24";
}


/**
 * 
 * Custom Fields modifications
 * 
 */


.custom-fields {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
}


.custom-fields li {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.custom-fields li + li {
	margin-top: 0.5rem;
}

.custom-fields li label {
	flex-basis: 100px;
}

.custom-fields li label + * {
	flex-basis: 100px;
	flex-grow: 1;
	width: auto !important;
}

/*
.custom-fields li .nested_field,
.custom-fields li textarea {
	flex-grow: 1;
}
*/

.custom-fields li .error {
	flex-basis: 100%;
}

.custom-fields .level_2,
.custom-fields .level_3,
.custom-fields .level_4 {
	flex-basis: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
	flex-wrap: wrap;
}




/**
 * 
 * Page-specific content
 * NOTE: Break apart later?
 * 
 */


#catalog-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 !important;
}

#catalog-container .pull-left {
	float: none !important;
}

#catalog-container .catalog-mainpage {
	flex-grow: 1;
}


#catalog-container .items-container {
	display: flex;
	flex-direction: row;
	width: auto !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	flex-wrap: wrap;
	margin: 0.5rem -0.5rem !important;
}

#catalog-container .catalog-items {
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
	flex-basis: calc(20% - 1rem);
	min-width: 150px;
	flex-grow: 1;
	margin: 0.25rem !important;
	height: auto !important;
	padding: 0px !important;
	border: solid 1px rgba(0,0,0,.2);
	background-clip: border-box;
	transition: background-color 0.15s;
}

#catalog-container .catalog-items {
	background-color: #004c97 !important;
	color: #FFF !important;
	cursor: pointer;
}

#catalog-container .catalog-items:hover {
	background-color: #0066ca !important;
	color: #FFF !important;
}




#catalog-container .img-details {
	flex-grow: 1;
	margin-top: 0 !important;
}

#catalog-container .catalog-items .item-request,
#catalog-container .catalog-items .item-price,
#catalog-container .catalog-items .item-desc {
	display: none !important;
}

#catalog-container .catalog-mainpage .items-container .catalog-items .profile_pic {
	height: auto !important;
	padding: 1rem 2rem 0 2rem !important;
	line-height: 100% !important;
}

#catalog-container .catalog-mainpage .items-container .catalog-items .profile_pic img {
	height: auto !important;
	width: 100% !important;
}

#catalog-container .img-details .item-name,
#catalog-container .img-details .item-desc {
	word-break: normal !important;
	text-overflow: initial !important;
	text-align: center !important;
	white-space: normal !important;
	line-height: 100%;
}


#catalog-container .img-details .item-name {
	margin: 0.25rem 0.5rem !important;
	font-family: "libre-baskerville", serif;
	line-height: 1.2;
	font-size: 1rem;
}

.service-catalog-services-default {
	background-image: none !important;
	display: block;
	width: 100%;
	height: 0;
	padding-bottom: 100%;
}


#catalog-container .catalog-sidebar .search-div {
	width: 100%;
	margin: 0;
	order: 1;
}


#servicecatalog-index-web {
	width: auto !important;
	margin-top: 2rem;
}

#servicecatalog-index-web .title {
	display: none;
}

#servicecatalog-index-web #categories {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	order: 0;
	padding-left: 0;
}

#servicecatalog-index-web #categories li {
	flex-basis: 33%;
	list-style-type: none;
}

#servicecatalog-index-web #categories li::before {
	content: "i";
	font-family: "glyph-24";
	margin-right: 0.8rem;
	color: #CCC;
	vertical-align: bottom;
	top: 0.05em;
	position: relative;
}

#catalog_items_container {
	width: auto !important;
	border: none !important;
	border-left: none !important;
}

#catalog_items_container > * {
	width: auto !important;
	border: none !important;
	border-left: none !important;
}

#servicecatalog-index-web {
	display: flex;
	flex-direction: column;
}

#request_item_page .breadcrumb {
	background-color: transparent;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
}

#request_item_page .breadcrumb .pull-left {
	flex-grow: 1;
	font-size: 0.8rem;
	color: rgb(108, 117, 125);
}

#request_item_page .breadcrumb .pull-left a + a {
	margin-left: 0.5rem;
}

#request_item_page .breadcrumb .pull-left a + a:before {
	content: ">";
	font-family: "glyph-24";
	color: #CCC;
	margin-right: 0.5rem;
	position: relative;
	top: 0.1em;
}

#request_item_page .breadcrumb .pull-right {
}

.catalog-request {
	display: flex;
	flex-direction: row;
}

.catalog-request > * + * {
	padding-left: 1rem;
}

.catalog-request .img-div.pull-left {
	float: none !important;
}

.catalog-request .profile_pic {
	background-color: #004c97;
	padding: 1rem;
	text-align: center;
	border: solid 1px rgba(0,0,0,.1);
	border-bottom: none;
	background-clip: border-box;
	width: auto;
	display: block;
}

.catalog-request .profile_pic img {
	width: 64px;
	height: auto;
}

.catalog-request .content-div {
	float: none;
}

.catalog-request .content-div h3 {
	background-color: #004c97;
	padding: 1rem;
	padding-top: 0;
	text-align: center;
	border: solid 1px rgba(0,0,0,.1);
	border-top: none;
	background-clip: border-box;
	width: auto;
	display: block;
	color: #FFF;
	margin-bottom: 1rem;
}

.portal_page_search .page-layout > .c-wrapper {
	display: flex;
	flex-direction: row;
}

.portal_page_search .page-layout > .c-wrapper .sidebar {
	padding-left: 1rem;
}

.portal_page_search .page-layout .breadcrumb {
	display: none;
}

.portal_page_search .ticket-page {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.portal_page_search .ticket-toolbar {
	order: 1;
	border: solid 1px rgba(0,0,0,.1);
	border-left: none;
	float: none !important;
}

.portal_page_search #ticket-filter-container {
	order: 0;
	border: solid 1px rgba(0,0,0,.1);
	border-right: none;
	flex-grow: 1;
}

.portal_page_search #ticket-list {
	margin-top: 1rem;
	flex-basis: 100%;
	width: 100%;
	order: 2;
}
