@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}

@font-face {
	font-family: 'noto-sans';
	src: url('fonts/noto-sans-regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'noto-sans';
	src: url('fonts/noto-sans-semibold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'libre-baskerville';
	src: url('fonts/libre-baskerville-regular.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

:root {
	font-size: 15px;
}

body {
	font-family: "noto-sans", Helvetica, Arial, sans-serif !important;
	line-height: 1.5 !important;
	font-size: 1rem !important;
}

/**
 * 
 * Loading Overlay
 * 
 */
#body-loading-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	background-color: #f5f4f4;
	z-index: 9999;
	transition: opacity 0.5s ease-in-out 0.1s, height 0s linear 0.6s;
}

#body-loading-overlay:after {
	position: absolute;
	content: "";
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-top: -20px;
	margin-left: -20px;
	background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><path d="m25 48c13 0 23-10 23-23" fill="none" stroke="%23cac6c9" stroke-width="4"/></svg>');
	animation-name: spin;
	animation-duration: 750ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear; 
}

#body-loading-overlay.complete {
	opacity: 0;
	height: 0;
}


#catalog-container .profile_pic {
	background-color: transparent !important;
}


/**
 * 
 * Glyphs
 * 
 */
.glyph-no-text {
	text-indent: -9999px;
	width: 1rem;
	height: 1rem;
	line-height: 1rem !important;
	display: inline-block;
	position: relative;
}

.glyph-no-text:before {
	position: absolute;
	text-indent: 0;
	top: 0;
	left: 0;
}

.btn[class^="g24-"]:before,
.btn[class*=" g24-"]:before {
	text-indent: 0px;
	font-family: "glyph24";
	font-size: 1.2rem;
	vertical-align: middle;
	margin-right: 0.5em;
	position: relative;
	top: 0.12ex;
}

.btn[class^="g24-"].glyph-no-text:before,
.btn[class*=" g24-"].glyph-no-text:before {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	position: absolute;
	text-indent: 0px;
	text-align: center;
	font-family: "glyph24";
	font-size: 1rem;
}


/**
 * 
 * Header
 * 
 */
#yec-header {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}

header > nav:not(#header-nav-secondary) > .container {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}


/**
 * 
 * Header Social Links
 * 
 */
#header-nav-social {
	order: -1;
	background-color: #004c97;
	background-clip: border-box;
	border: none;
	border-bottom: solid 1px rgba(0,0,0, 0.2);
	color: #FFF;
}

#header-nav-social ul {
	padding: 0;
	margin: 0;
}

#header-nav-social a {
	line-height: 1rem !important;
}


/**
 * 
 * Primary Nav
 * 
 */
#header-logo {
	background-image: url(media/yorkville-logo.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 200px;
	height: 42px;
	text-indent: -9999px;
	display: inline-block;
	margin: 0px;
}


/**
 * 
 * Bootstrap Extended Classes
 * 
 */
.text-shadow-rgba {
	text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}

.border-rgba {
	background-clip: border-box !important;
	border-color: rgba(0,0,0, 0.2) !important;
}

.navbar-nav-nocollapse {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.navbar-nav {
	align-items: center
}


/**
 * 
 * Nav Overrides
 * 
 */

#sticky_head > nav {
	background-color: #fafafa;
	border-bottom: solid 1px rgba(0,0,0,.2) !important;
	box-shadow: none !important;
	
}

#sticky_head > #page-tabs {
	padding: 0 !important;
	
}

#sticky_head .action-bar {
	height: auto !important;
}

#sticky_head .page-tabs {
	min-height: 0 !important;
	line-height: auto !important;
}

#sticky_head .page-tabs::before {
	display: none !important;
}

#sticky_head .page-tabs .nav-link {
	padding: 0 !important;
	margin: 0 !important;
}

#sticky_head .page-tabs .nav-link a {
	float: none !important; /* Why the floats? Why? */
	padding: 0.5rem 2rem !important;
}

/**
 * 
 * Fresh Overrides
 * 
 */
.c-wrapper {
  width: 100% !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

#request_item_page .sidebar .request-for,
#request_item_page .sidebar #show_request_for {
	display: none;
}



@media (min-width: 576px) {
  .c-wrapper {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .c-wrapper {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .c-wrapper {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .c-wrapper {
    max-width: 1140px !important;
  }
}


/**
 * 
 * Theme Colours
 * NOTE: Break apart later?
 * 
 */
.bg-primary {
	background-color: #004c97 !important;
	color: #FFF;
}

.navbar-dark a {
	color: #f5f4f4;
}

.navbar-dark a:hover {
	color: #fff;
}


.img-details {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

/**
 * 
 * Page-specific content
 * NOTE: Break apart later?
 * 
 */


#catalog-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 !important;
}

#catalog-container .pull-left {
	float: none !important;
}

#catalog-container .catalog-mainpage {
	flex-grow: 1;
}


#catalog-container .items-container {
	display: flex;
	flex-direction: row;
	width: auto !important;
	padding-left: 0 !important;
	padding-right: 0 !important;
	flex-wrap: wrap;
	margin: 0.5rem -0.5rem !important;
}

#catalog-container .catalog-items {
	display: flex;
	flex-direction: column;
	flex-basis: 20%;
	flex-basis: calc(20% - 1rem);
	min-width: 150px;
	flex-grow: 1;
	margin: 0.25rem !important;
	height: auto !important;
	padding: 0px !important;
	border: solid 1px rgba(0,0,0,.2);
	background-clip: border-box;
	transition: background-color 0.15s;
}

#catalog-container .catalog-items {
	background-color: #004c97 !important;
	color: #FFF !important;
}

#catalog-container .catalog-items:hover {
	background-color: #0066ca !important;
	color: #FFF !important;
}




#catalog-container .img-details {
	flex-grow: 1;
	margin-top: 0 !important;
}

#catalog-container .catalog-items .item-request,
#catalog-container .catalog-items .item-price,
#catalog-container .catalog-items .item-desc {
	display: none !important;
}

#catalog-container .catalog-mainpage .items-container .catalog-items .profile_pic {
	height: auto !important;
	padding: 1rem 2rem 0 2rem !important;
	line-height: 100% !important;
}

#catalog-container .catalog-mainpage .items-container .catalog-items .profile_pic img {
	height: auto !important;
	width: 100% !important;
}

#catalog-container .img-details .item-name,
#catalog-container .img-details .item-desc {
	word-break: normal !important;
	text-overflow: initial !important;
	text-align: center !important;
	white-space: normal !important;
	line-height: 100%;
}


#catalog-container .img-details .item-name {
	margin: 0.25rem 0.5rem !important;
	font-family: "libre-baskerville", serif;
	line-height: 1.2;
	font-size: 1rem;
}

.service-catalog-services-default {
	background-image: none !important;
}

#catalog-container .catalog-sidebar .search-div {
	max-width: 400px;
	width: 100%;
	margin: 2rem auto;
	order: 1;
}


#servicecatalog-index-web {
	width: auto !important;
}

#servicecatalog-index-web .title {
	display: none;
}

#servicecatalog-index-web #categories {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	order: 0;
}

#servicecatalog-index-web #categories li {
	flex-basis: 33%
}

#catalog_items_container {
	width: auto !important;
	border: none !important;
	border-left: none !important;
}

#catalog_items_container > * {
	width: auto !important;
	border: none !important;
	border-left: none !important;
}

#servicecatalog-index-web {
	display: flex;
	flex-direction: column;
}
