/*
 * General Changes
 */

.bg-primary {
	background-color: #100e0f !important;
}

.btn-primary {
	background-color: #d92a2b;
	color: #FFF;
}

.btn-primary:hover {
	background-color: #ee3b2f !important;
}

a, .a-link, #sticky_head .page-tabs .nav-link a {
	color: #d92a2b;
	text-decoration: none;
}

a:hover, .a-link:hover, #sticky_head .page-tabs .nav-link a:hover, a:hover {
	color: #d92a2b;
	text-decoration: underline;
}

/*
 * Social Nav
 */

#header-nav-primary {
	background-color: #1f1d1d;
}

#header-logo {
	background-image: url(media/tfs-logo.svg);
}

:not(#header-hero) + #header-nav-secondary {
	padding-top: 0.5rem !important;
}

/*
 * 
 * Grid items
 * 
 */

#catalog-container .catalog-items {
	background-color: #a11313 !important;
}

#catalog-container .catalog-mainpage .items-container .catalog-items:hover {
	background-color: #d92a2b !important;
}
